.App{
    background-image: url('../images/minimal-morning-landscape-8k-gx-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Bruno Ace SC', cursive;
}