a,h3{
    text-decoration:  none !important; 
    color: #f1f1f1 !important;
}

a:hover{
    color: rgb(1, 106, 198) !important;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

@media screen and (max-width:420px) {
    .contact-container{
       
        flex-wrap: wrap;
        flex-direction: column ;
    }

    
}