@media screen and (max-width:420px) {
  

   
  .home-card > h1 {
    font-size: 16px !important;
    
  }

  .home-card > p {
    font-size: 15px !important;
    margin: 20px;
    
  }

  .home-card > img {
    height: auto;
    width: 200px;
    margin: 0 auto;
  
  }
  
  .create-button {
    font-size: 1em !important;
     width: 50% !important;
  }
}